* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #F4D050;
    display: grid;
    place-items: center;
    padding: 1rem;
    min-height: 100vh;
    width: 100vw;
    font-family: Figtree;
    box-sizing: border-box;
    overflow: hidden;
}

#container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: min(90%, 380px);
    height: auto;
    padding: clamp(12px, 4%, 24px); 
    gap: 0.8em;
    border: 1px solid black;
    box-shadow: 7px 7px 1px black;
    border-radius: 15px;
    box-sizing: border-box;
}

#card{
    width: 100%;
    height: auto;
    object-fit:cover;
    border-radius: 10px;
}

button{
    background-color: #F4D050;
    font-weight: 800;
    font-size: 11px;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#container h2{
    font-weight: 900;
    font-size: clamp(1rem, 4vw, 1.4rem);
}

#container a{
    text-decoration: none;
    color: #000;
}

#container a:hover{
    color: #F4D050;
}


#more_text {
    font-size: clamp(0.8rem, 2.5vw, 0.95rem);
    color: #808080;
    font-size: 15px;
}

.name{
    display: flex;
    align-items: center;
    gap: 1em;
}
